@charset "UTF-8";

*{
    margin: 10px;
    padding: 10px;
}

menu{
    display: none;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}
article::after{
    content: "Esta noticia foi impressa no site www.nytimes.com";
}